/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

img {
	border: 5px solid #cccccc;
}

img#main-image {
	border-color: rgb(152, 173, 166);
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
	color: rgb(152, 173, 166);
}

h2 {
	font-size: 2em;
	font-weight: bold;;
	color: rgb(111,127,122);
}

p {
  color: #555;
}

footer {
	float: right;
	font-size: .75em;
	padding: 20px 0 20px 0;
}
